@import "tailwindcss";
@import "./docs/article.style.css";

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-next-sans), Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: #fff;
  --color-foreground: var(--color-neutral-700);
  --font-sans: var(--font-next-sans);
  --font-mono: var(--font-next-mono);
}

@custom-variant aria-current-page (&[aria-current="page"]);
@custom-variant svg (& svg);